
/* Estilização do container do slider */
.my-slider {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  /* Estilização das imagens */
  .my-slider img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Estilização dos dots de paginação */
  .swiper-pagination-bullet {
    background: #333;
  }
  
  /* Estilização dos botões de navegação */
  .swiper-button-next, .swiper-button-prev {
    color: #333;
  }
  
  